.header {
  height: 100px;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 2rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
