.header {
  height: 100px;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 2rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.burgerBtn {
  width: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.burgerBtn img {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  background-color: rgb(147, 109, 58);
}

@media only screen and (max-width: 768px) {
  .header nav {
    display: none;
  }

  .burgerBtn {
    display: flex;
  }
}
