.main {
  min-height: 700px;
  background-color: burlywood;
  padding: 2rem;
}

.main h1 {
  text-align: center;
  padding: 2rem 0;
}

.main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
